/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
@media (max-width: 1350){
  header{
    margin-left:0px;
    display: flex;
    flex-wrap: wrap;
  }
}

.img-logo{
  margin-left: 90px;
}
.head{
  background-image: linear-gradient(rgb(187, 163, 178),white,black);
  color: black;
}
.productss{
  background-image: url(/images/skin.jpg);
  background-size: 1530px 950px;
  margin-top: -70px; 
}
.protext{
  margin-top: 180px;
  padding: 70px;
}

.about,.text2{
  background-image: linear-gradient(rgb(227, 159, 171),rgb(34, 32, 32));
  margin: 20px;
}
.productss h1{
  text-shadow: 1px 1px rgb(77, 75, 75),1px 2px rgb(242, 239, 239);
}
.productss .explore{
  text-shadow: 1px 1px rgb(77, 75, 75),1px 2px rgb(242, 239, 239);
}
.conbtn{
  border-radius: 25px;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 15px;
  border: rgb(97, 68, 68);
  background: rgb(134, 19, 19);
}
.conbtn:hover{
  transform: scale(1.1);
  background-color: black;

}
header a:hover{
  color: navy;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
